@use "index" as *;

$primary-color: #f9fafb;
$blue-element: #084365;

body {
  font-family: $primary-font;
  background-color: $primary-color;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.container {
  display: flex;
  height: 100%;
}

.splash {
  color: white;
  max-width: 550px;
  min-width: 300px;
  flex: 40%;
  height: 100vh;
  background-image: url(../assets/splash.jpg);
  background-size: cover;
  background-position: right;

  display: flex;
  align-items: center;
}

.logo {
  @include header-font;
  font-size: clamp(2rem, 4vw, 3rem);
  background-color: #16161680;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

}

.main {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 60%;
}

.intro {
  width: 90%;
  max-width: 750px;
  padding-top: 150px;
  padding-left: 40px;


  h2 + h2 {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.sign-up-form {
  background-color: #fff;
  padding: 15px 40px;
  box-shadow: 0 6px 10px rgb(0, 0, 0, 0.2);

  h2 {
    padding-bottom: 20px;
  }
}

.form-row {

  display: flex;
  gap: 50px;
  padding-bottom: 20px;

 > div {
  display: flex;
  flex-direction: column;
 }
}

.error-message {
  color: #aa0000;
  font-size: 13px;
  font-weight: 300;
  padding-left: 3px;
  display: none;
}

input {
  appearance: none;
  outline: none;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  background-color: $primary-color;
  width: 250px;
  padding: 3px 10px;

  &:focus {
    border: 1px solid $blue-element;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  }

  &.error {
    border: 1px solid red;
  }

  &:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
  }

  &:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block;
  }
}

label {
  @include label-font;
}

.submit-footer {
  padding: 40px;
}

button {
  width: 225px;
  background-color: $blue-element;
  color: $primary-color;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  font-size: 1.2em;
  margin-bottom: 40px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

a {
  color: $blue-element;
  text-decoration: none;
  font-weight: 500;

  &:visited {
    text-decoration: underline;
  }
}

.optional-field {
  text-transform: none;
  letter-spacing: normal;
  font-size: .7rem;
  padding-left: 5px;
}

